<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--Header start here-->
    
    <% if (mess !== null) {%>
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <strong>Message : </strong> <%=mess%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% }%>
    <%- include("./partials/header.ejs"); %>
    <section id="banner" class="pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4><%= bannerDetails.title %></h4>
                    <p><%= bannerDetails.desc %></p>
                    <a href="/moredetails"><button>More Details </button></a>
                </div>
                <div class="col-md-4"><img id="img1" src="media/about-us.png" class="img-fluid mx-auto d-block" alt=""></div>
            </div>
        </div>
        <img src="media/border1.png" alt="" id="banner-border">
    </section>
    <!--Header end here-->
        <!--Testi start here-->
    <section id="testi">
        <div class="container">
            <div class="row text-center">
                <h2>What customers says about Us</h2>
                <div class="col-md-2">
                    <img src="media/building.png" alt="">
                    <p><i class="bi bi-quote"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo ea dolor architecto quos eos enim commodi officia recusandae expedita!<i class="bi bi-quote"></i></p>
                    </div>
                <div class="col-md-2">
                    <img src="media/building.png" alt="">
                    <p><i class="bi bi-quote"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo ea dolor architecto quos eos enim commodi officia recusandae expedita!<i class="bi bi-quote"></i></p>
                </div>
                <div class="col-md-2"><img src="media/building.png" alt="">
                    <p><i class="bi bi-quote"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo ea dolor architecto quos eos enim commodi officia recusandae expedita!<i class="bi bi-quote"></i></p>
            </div>
                <div class="col-md-3"><img src="media/building.png" alt="">
                    <p><i class="bi bi-quote"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo ea dolor architecto quos eos enim commodi officia recusandae expedita!<i class="bi bi-quote"></i></p>
            </div>
                <div class="col-md-3"><img src="media/building.png" alt="">
                    <p><i class="bi bi-quote"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum explicabo ea dolor architecto quos eos enim commodi officia recusandae expedita!<i class="bi bi-quote"></i></p>
            </div>
            </div>
        </div>
    </section>
    <!--Testi end here-->


    <!--Footer start here-->
    <%- include("./partials/footer.ejs"); %>
    <!--Footer end here-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>